# Entornos y dependencias
.venv/
venv/
node_modules/

# Variables de entorno
.env
backend/.env
frontend/.env
.env.local
.env.development
.env.production

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/

# Flask
instance/

# Vite / React
frontend/dist/
dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema
.DS_Store
Thumbs.db